<a href="https://colab.research.google.com/github/makhpa/thinking-with-data/blob/main/varriables_and_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+3

5

INTEGER and STRINGS

In [ ]:
x=5
y=6
x+y
names = "parth"
names[1]
print(names)

parth

LISTS

In [ ]:
nums= [5,6,7]
nums
nums.append(8)
nums
nums.count(5)
nums.extend([8])
print(nums)
nums.index(7)
nums.insert(6,9)
nums
del nums[1:3]
nums
len(nums)
nums.pop()
nums
7 in nums
for item in nums:
    print ("parth")


nums.sort()
nums.reverse()
print(nums)

names = ['parth' 'nidhi']
names

[5, 6, 7, 8, 8]
parth
parth
parth
[8, 8, 5]

TUPLES

In [ ]:
tup = (5,6,7,8,9)
tup
print(type(tup)) # <class 'tuple'>
tup.count(5)
tup.index(6)
tup.__contains__(8)
len(tup)

<class 'tuple'>

5

SETS

In [ ]:
set1 = {2,3,4,5,6,7}
set
set1.add(8)
set1.remove(2)
set2 = {1,2,3,4,5,6,7}
set2 - set1
set2|set1
set1 & set2

{3, 4, 5, 6, 7}